@font-face {
  font-family: 'Cascadia Code PL';
  src: url('/assets/CascadiaCodePL.woff2') format('woff2');
}

.App {
  padding: 16px;
  font-family: 'Cascadia Code PL', monospace;
  font-weight: bold;
  color: white;
}

body {
  background-color: black;
  font-size: 16px;
}
